<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CamperView</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body class="dark">
       <nav class="navbar navbar-default">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><span class="color-0">Camper</span><span class="color-2">View</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if(!user){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
              <% } else { %>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">Notifications <span class="badge">
                          <%=notifications.length%>
                      </span></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="/notifications">View Past Notifications</a>
                          </li>
                          <% notifications.forEach(function(notification){ %>
                              <li>
                                  <a href="/notifications/<%=notification.id%>">
                                      <%= notification.username %> created a new campground
                                  </a>
                              </li>
                          <% }) %>
                      </ul>
                  </li>
                  <li><a href="/users/<%=user._id%>">Signed In As <strong><%= user.username %></strong></a></li>
                  <li><a href="/logout">Logout</a></li>
              <% } %>
            </ul>
        </div>
        </div>
        </nav>
        
        <% if (error && error.length > 0) { %>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        </div>
        <% } %>
        <% if (success && success.length > 0) { %>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        </div>
        <% } %>
        
        <div class="container body">
        